annotated-types==0.7.0
anyio==4.4.0
argcomplete==3.5.0
black==24.8.0
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.0.0
colorama==0.4.6
comtypes==1.4.7
datamodel-code-generator==0.26.0
dnspython==2.6.1
docker-pycreds==0.4.0
email-validator==2.2.0
exceptiongroup==1.2.2
fastapi==0.114.0
filelock==3.16.0
fsspec==2024.9.0
genson==1.3.0
gitdb==4.0.11
GitPython==3.1.43
glcontext==3.0.0
gym==0.26.2
gym-notices==0.0.8
h11==0.14.0
idna==3.8
importlib-metadata==8.4.0
inflect==5.6.2
isort==5.13.2
jinja2==3.1.4
MarkupSafe==2.1.5
moderngl==5.11.1
moderngl-window==2.4.6
mpmath==1.3.0
multipledispatch==1.0.0
mypy-extensions==1.0.0
networkx==3.2.1
numpy==1.26.4
packaging==24.1
pathspec==0.12.1
pillow==10.4.0
platformdirs==4.2.2
protobuf==5.28.0
psutil==6.0.0
pydantic==2.9.0
pydantic-core==2.23.2
pyglet==2.0.17
PyOpenGL==3.1.7
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5-sip==12.15.0
pyrr==0.10.3
PyWavefront==1.3.3
pywin32==228
pywinauto==0.6.8
PyYAML==6.0.2
requests==2.32.3
rlgym==1.2.2
rlgym-ppo==1.3.12
rlgym-sim==1.2.6
rlgym-tools==1.8.3
sentry-sdk==2.13.0
setproctitle==1.3.3
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
starlette==0.38.4
sympy==1.13.2
toml==0.10.2
tomli==2.0.1
torch==2.4.1
typing-extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
uvicorn==0.30.6
wandb==0.17.8
websocket-server==0.6.4
websockets==13.0.1
zipp==3.20.1
